/*FONTS*/
@font-face {
    font-family: "RedSeven";
    src: url("../fonts/RedSeven.otf");
}
@font-face {
    font-family: "WalkwayBlack";
    src: url("../fonts/WalkwayBlack.ttf");
}
@font-face {
    font-family: "WalkwayCondensed";
    src: url("../fonts/WalkwayCondensed.ttf");
}
@font-face {
    font-family: "WalkwayExpand";
    src: url("../fonts/WalkwayExpand.ttf");
}
@font-face {
    font-family: "WalkwayObliqueBlack";
    src: url("../fonts/WalkwayObliqueBlack.ttf");
}
@font-face {
    font-family: "WalkwayObliqueExpand";
    src: url("../fonts/WalkwayObliqueExpand.ttf");
}

/*//////////////////////////////////*/
/*GLOBAL*/
*{
  font-family: "WalkwayBlack";
  letter-spacing: 2px;
}
nav {
  background-color:transparent;
  font-family:"RedSeven", Serif;
}
a {
  text-decoration: none; 
}
body{
  background-color: white;
}
.item>img{
  width:100%;
  height:auto;
}

/*Text-color*/
.txt-gold{
  color:#C0A062;
}
.txt-brown{
  color:#8A5B2F;
}
.txt-white {
  color:white; 
}
.txt-gray{
  color: #5E5E5E;
}

/*Backgrounds*/
.bg-black{
  background-color: black ;

}
.bg-white{
  background-color: rgba(255,255,255, 0.8);
}

/*Margin & padding*/
.mg0{
  margin: 0% !important;
}
.pd0{
  padding: 0% !important;
}
.pd1{
  padding: 1%;
}
.pd2{
  padding: 2%;
}
.pd3{
  padding: 3%,
}
.pd5 {
  padding: 5%;
}
.w5{
  width: 5% !important;
}
.w30{
  width: 30%;
}


/*//////////////// INTRO-PAGE ////////////////////*/
.logo{
  width: 13%;
}
.btnline{
  border: 1px solid #8A5B2F;
  padding: 1%;
  margin:5%; 
  display: inline-block;
  width: 25%;
  font-size:.7em;
}
.btnline:hover{
 background-color: rgba(192, 160, 98, 0.6);
 color:#2E2E2E ;
}

/*div video*/
.captionvd{
  width: 100%;
  background-color: transparent;
  padding-top: 7%;
  position: relative;
  z-index: 1;
}
video{
  width: 100%;
  height: auto;
  z-index: 0;
  position: absolute;
}

/*//////// HOME ///////////////*/
.tittle {
  position: relative;
  z-index: 0; 
  width: 4%; 
}
.row{
  z-index: 1;
}
/*Main*/
.navbar-nav {
    float: left;
    margin-left: 25%;
    margin-top: 0%;
}
.navbar-nav li > a{
  color: #C0A062;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 2px 2px rgba(94, 94,94, 0.6);
}
.navbar-nav li > a:hover{
 background-color: rgba(46, 46,46, 0.6) ;
 border: 1px solid #8A5B2F;
 color:#C0A062 ;
}
.navbar-nav li > a:visited{
 background-color: rgba(138, 91, 47, 0.6);
 color:white;
}

/*AboutMe*/
.background-image{
  background-image: url("../img/Ruthb-n.png");
  background-size: 100%;
  height: auto;
  background-repeat: no-repeat;
}

.txt-small{
  font-size: 16px;
}
.big-left{
 float: left;
}
.big-right{
  float: right;
}
.big-txt{
  font-family: "RedSeven", Serif;
  position: relative;
  font-size: 1em;
}
.logo-slide{
  width: 40%;
}
.download{
  width: 85%;
  color: #8A5B2F;
  padding: 5% 2% 5% 2%;
}

/*SKILLS*/
#skills{
  background-color: #C0A062;
}
.icon-skills-web{
  width: 35%;
}
.icon-skills-design{
  width: 25%;
}


.progress {
  background-color: black;
  border: 2px solid black;
  margin-bottom: 1%; 
  height: 1em;
}
.progress-bar {
  background-color: #5E5E5E;
  margin-bottom: 2%;
}
.txt-bar{
  margin: 2% 1%;
}

/*PORTFOLIO*/
.portfolio-sec{
  width: 80%;
  text-align: center;
  font-size: 5em;
  padding: 25% 5% 25% 5%;
  color:#8A5B2F; 
}

/*CONTACME*/



/*FOOTER*/
footer, #contact {
  font-size: 10px;
  background-color: #5E0E25;
  padding-top: 1%;
}
#contact > .fa{
  color:#C0A062;
  text-decoration: none;
}
.logo-footer{
  width: 3%;
}


/*MODAL*/


/*////////////////////////////////////////////////////////*/

/*PORTFOLIO-PAGES*/
.btnline-small{
  border: 1px solid #8A5B2F;
  padding: 2%;
  margin:5%; 
  display: inline-block;
  width: 38%;
  text-align: center;
  background-color: #C0A062;
  color: black;
}
.btnline-small:hover{
 background-color: white;
 color:#2E2E2E ;
}
.img-screen{
  width: 35%;
  margin: 5%;
}
.div-description{
  border: 1px solid #8A5B2F;
  padding: 10%; 
  display: inline-block;
  z-index: 1;
  color: #C0A062; 
  margin: 30% 10% 30% 10%;
}
/*Web*/
.desktop{
    transform: rotate(-20deg);
    transform-origin: left top 0;
    position: absolute;
    margin-top: 11%;
    z-index: 0;
}
.mobile{
    transform: rotate(25deg);
    transform-origin: left top 0;
    width: 11%;
    position: absolute;
    height: auto;
    left: 48%;
    z-index: 0;
}

/*Design*/

/*Padding*/
.pd-10 {
  padding: 10% 5% 10% 5%; }

.pd10 {
  padding: 10% 10% 0% 10%; }


.pd2 {
  padding: 2%; }

.pd1 {
  padding: 1%; }

.pt-5 {
  padding-top: 5%; }

.pl-15 {
  padding-left: 15%; }