/*FONTS*/
@font-face {
    font-family: "RedSeven";
    src: url("../fonts/RedSeven.otf");
}
@font-face {
    font-family: "WalkwayBlack";
    src: url("../fonts/WalkwayBlack.ttf");
}
@font-face {
    font-family: "WalkwayCondensed";
    src: url("../fonts/WalkwayCondensed.ttf");
}
@font-face {
    font-family: "WalkwayExpand";
    src: url("../fonts/WalkwayExpand.ttf");
}
@font-face {
    font-family: "WalkwayObliqueBlack";
    src: url("../fonts/WalkwayObliqueBlack.ttf");
}
@font-face {
    font-family: "WalkwayObliqueExpand";
    src: url("../fonts/WalkwayObliqueExpand.ttf");
}

/*//////////////////////////////////*/
/*GLOBAL*/
*{
  font-family: "WalkwayBlack";
  letter-spacing: 2px;
  line-height: none;
  font-ratio:30;
}
nav {
  background-color:transparent;
  font-family:"RedSeven", Serif;
}
a {
  text-decoration: none !important; 
}
body{
  background-color: white;
}

/*Text-color*/
.txt-gold{
  color:#C0A062;
}
.txt-brown{
  color:#8A5B2F;
}
.txt-white {
  color:white; 
}
.txt-gray{
  color: #5E5E5E;
}

/*Backgrounds*/
.bg-black{
  background-color: black ;
}
.bg-white{
  background-color: rgba(255,255,255, 0.6);
}

/*Margin & padding*/
.mg0{
  margin: 0% !important;
}
.pd0{
  padding: 0% !important;
}
.pd1{
  padding: 1%;
}
.pd2{
  padding: 2%;
}
.pd3{
  padding: 3%,
}
.pd4{
  padding:4%;
}
.pd5 {
  padding: 5%;
}
.pl5{
  padding-left:5%; 
}
.w5{
  width: 5% !important;
}
.w20{
  width: 20%;
}


/*//////////////// INTRO ////////////////////*/
.logo{
  width: 20%;
}
/*div video*/
.captionvd{
  width: 100%;
  background-color: transparent;
  padding: 9% 14% 20% 14%;
  position: relative;
  z-index: 1;
}
video{
  width: 100%;
  height: auto;
  z-index: 0;
  position: absolute;
}
.webdesign{
  font-size: 200% !important;
}
/*//////// HOME ///////////////*/
.btnline{
  background-color: rgba(192, 160, 98, 0.6);
  color:#2E2E2E ;
  border: 1px solid #8A5B2F;
  padding: 1%;
  margin:5%; 
  display: inline-block;
  width: 25%;
  font-weight: bolder;
  border-radius: 10px;
}
.btnline:hover{
  background-color: rgba(94, 14, 37, 0.6);
  color:white ;
  border: 1px solid #8A5B2F;
}
.tittle {
  position: relative;
  z-index: 0; 
  width: 4%; 
}

/*Main*/
.links_main{
  background-color: transparent;
  padding: 5%;
  width: 25%;
  height: auto;
  position: absolute;
  display: none;
  z-index: 1000; 
  color:#5E0E25 ;
  text-shadow: 2px 2px rgba(94, 94,94, 0.6);
}
.navbar-nav {
    float: left;
    margin-top: 0%;
    background-color: transparent !important;
}
 .sr-only{
  color: white important;
}
.navbar-toggle{
background-color:rgba(94, 94,94, 0.6);
}
.navbar-nav li > a{
  color: #5E0E25;
  font-weight: bold;
  font-size:170%;
 }
.navbar-nav li > a:hover{
 background-color: rgba(46, 46,46, 0.6) ;
 border: 1px solid #8A5B2F;
 color:#C0A062 ;
}
.navbar-nav li > a:visited{
 background-color: rgba(255, 255, 255, 0.6) !important;
 color: rgb(138, 91, 47);
border: 1px solid #8A5B2F;
}
/*AboutMe*/
.background-image{
  background-image: url("../img/Ruthb-n.png");
  background-size: 100%;
  height: auto;
  background-repeat: no-repeat;
}

.txt-small{
  font-size: 16px;
}
.big-left{
 float: left;
}
.big-right{
  float: right;
}
.big-txt{
  font-family: "RedSeven", Serif;
  position: relative;
  font-size: 1em;
}
.logo-slide{
  width: 40%;
}
.download{
  width: 85%;
  color: #8A5B2F;
  padding: 5% 2% 5% 2%;
}

/*SKILLS*/
#skills{
  background-color: #C0A062;
}
.icon-skills-web{
  width: 35%;
}
.icon-skills-design{
  width: 25%;
}


.progress {
  background-color: black;
  border: 2px solid black;
  margin-bottom: 1%; 
  height: 1em;
}
.progress-bar {
  background-color: #5E5E5E;
  margin-bottom: 2%;
}
.txt-bar{
  margin: 2% 1%;
}

/*PORTFOLIO*/
#portfolio{
  background-image: url(../img/backAnimalPrint.png);
  background-repeat: repeat;
  background-size: cover;
}
.portfolio-sec{
  width: 80%;
  text-align: center;
  font-size: 280%;
  padding: 25% 5% 25% 5%;
}

/*CONTACME*/
#contact {
  background-color: #5E0E25;
}

.icons{
  font-size: 4em;
  text-decoration: none;
}

/*FOOTER*/
footer {
  font-size: 10px;
  background-color: rgba(0,0,0, .8);
  padding-top: 1%;
  color: #C0A062;
}

.logo-footer{
  width: 3%;
}

/*MODAL*/


/*////////////////////////////////////////////////////////*/

/*PORTFOLIO-PAGES*/
.btnline-small{
  border: 1px solid;
  padding: 2%;
  margin:5%; 
  display: inline-block;
  width: 38%;
  text-align: center;
  background-color: rgba(94, 14, 37, .6);
  color: white;
  border-radius: 10px;
}
.btnline-small:hover{
 background-color: rgba(255, 255, 255, 0.6);
 color:#5E0E25 ;
}
.img-screen{
  width: 35%;
  margin: 5%;
}
.div-description{ 
  display: inline-block;
  z-index: 1;
  color: #121212; 
  margin: 30% 10% 30% 10%;
}
/*Web*/
#web-works{
  background-image: url(../img/back-gray.png);
  background-repeat: repeat;
  background-size: cover;
}
.desktop{
    transform: rotate(-20deg);
    transform-origin: left top 0;
    position: absolute;
    margin-top: 11%;
    z-index: 0;
}
.mobile{
    transform: rotate(25deg);
    transform-origin: left top 0;
    width: 11%;
    position: absolute;
    height: auto;
    left: 48%;
    z-index: 0;
}

/*Design*/
#design-works{
  background-image: url(../img/back-gold.png);
  background-repeat: repeat;
  background-size: cover;
}


/*Efectos*/
.zoom{
    transition: 1.5s ease;
    -moz-transition: 1.5s ease; /* Firefox */
    -webkit-transition: 1.5s ease; /* Chrome - Safari */
    -o-transition: 1.5s ease; /* Opera */
  }
  .zoom:hover{
    transform : scale(2);
    -moz-transform : scale(2); /* Firefox */
    -webkit-transform : scale(2); /* Chrome - Safari */
    -o-transform : scale(2); /* Opera */
    -ms-transform : scale(2); /* IE9 */
  }
  .vista{
    transition: 1.5s ease;
    -moz-transition: 1.5s ease; /* Firefox */
    -webkit-transition: 1.5s ease; /* Chrome - Safari */
    -o-transition: 1.5s ease; /* Opera */
  }
  .vista:hover{
    transform : scale(2);
    -moz-transform : scale(2); /* Firefox */
    -webkit-transform : scale(2); /* Chrome - Safari */
    -o-transform : scale(2); /* Opera */
    -ms-transform : scale(2); /* IE9 */
  }



/*/////MediaQuerys////////



@media  ( max-width : 749px )  {
  h3, h2, h1{
    font-size: 45%; }
  .word{
    font-size: 85%;
    } 
  
  } 


@media  ( min-width : 750px )  {
  h3, h2, h1{
    font-size: 70%; }
  .word{
    font-size: 85%;
    } 
  
  }

  @media  ( min-width: 970px )  {
  h3, h2, h1{
    font-size: 55%; }
  .word{
    font-size: 85%;
    } 
  
  }
  

  @media  ( min-width : 1170px )  {
  h3, h2, h1{
    font-size: 45%; }
  .word{
    font-size: 125%;
    } 
  
  }
*/